header {
    text-align: center;
    color: white;
    background-color: blue;
    padding: 20px;
}

div {
    margin: 10px;
}

input {
    width: 100%;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    width: 100%;
}

span{
    display: flex;
    align-items: center;
}

#search-btn {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    background-color: blue;
    color: white;
    justify-content: center;
}

#today-weather {
    background-color: rgb(54, 54, 54);
    color: white;
}

.dynamic-button {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.daily {
    background-color: rgb(54, 54, 54);
    color: white;
    width: 22%;
}